<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appnimal">
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appnimal">
        <activity
            android:name="com.application.appnimal.activities.OnWalkActivity"
            android:exported="false" />
        <activity
            android:name="com.application.appnimal.activities.SetNotificationActivity"
            android:exported="false" />
        <activity
            android:name="com.application.appnimal.activities.PetAddActivity"
            android:exported="false" />
        <activity
            android:name="com.application.appnimal.activities.PetsActivity"
            android:exported="false" />
        <activity
            android:name="com.application.appnimal.activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.application.appnimal.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.application.appnimal.activities.WalksActivity"
            android:exported="false" />
        <activity
            android:name="com.application.appnimal.activities.CalendarActivity"
            android:exported="false" />
        <activity
            android:name="com.application.appnimal.activities.AppnimalActivity"
            android:exported="false" />
        <activity
            android:name="com.application.appnimal.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.application.appnimal.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.application.appnimal.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.application.appnimal.AlarmReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>